body{
    margin: 0;
    font: normal 16px Arial, Helvetica, san-serif;
    color: #251b13;
}

header{
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #f5e0c0;
   
}
.header-container{
    /* Limits width for large screens */
    width: 960px;
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;

    display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-wrap: wrap;
}
#logo{ 
    /* responsive sizing */
    max-width: 100%;
    height: auto;
}
nav ul{
    list-style: none;
    padding: 0;
    margin-top: 1em;
    text-align: center;

}
nav ul li{
    display: inline;
}
nav ul li:hover{
    text-shadow: 2px 2px 1px #f5e0c0;
}
nav ul li:active{
    text-shadow: 2px 2px 3px #760a04;

}
nav ul li a{
    text-decoration: none;
    color: #251b13;
    display: inline-block;
	padding: .5em 1.5em;
    font-size: 25px;
}


.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "banner-area"
    "news-area"
    "portfolio-area"
    "contact-area"
    "footer";
}

.anchor{ /* addresses offset caused by fixed header placement */
    position: relative;
    top: -150px;
    visibility: hidden;
}

main{
    margin-top: 50px;
}

#banner-section{
    grid-area: banner-area;
}

#news-section{
    grid-area: news-area;
}

#featured-portfolio{
    grid-area: portfolio-area;
}

#contact-section{
    grid-area: contact-area;
}

footer{
    grid-area: footer;
}