body{
    font: normal 16px Arial, Helvetica, san-serif;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "banner-area"
    "news-area"
    "portfolio-area"
    "contact-area"
    "footer";
}

header{
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "logo nav";
    column-gap: .5rem;
    position: fixed;
    z-index: 10;
    background-color: #f5e0c0;
}
#logo{
    grid-area: logo;
    height: 100px;
}
nav{
    grid-area: nav;

    display: grid;
    place-items: end start;
}
nav ul{
    list-style: none;
    width: 100%;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "home portfolio news contact";
}
nav ul li{
    display: inline-block;
}
nav ul li:hover{
    text-shadow: 2px 2px 1px #fff;
}
nav ul li:active{
   text-shadow: 2px 2px 3px #760a04;

}

nav ul li a{
    text-decoration: none;
    color: #000;
}
nav ul #home{
    grid-area: home;
    padding-left: 15px;
}
nav ul #portfolio{
    grid-area: portfolio;
}
nav ul #news{
    grid-area: news;
}
nav ul #contact-us{
    grid-area: contact
}

.anchor{ /* addresses offset caused by fixed header placement */
    position: relative;
    top: -150px;
    visibility: hidden;
}

main{
    margin-top: 50px;
}

#banner-section{
    grid-area: banner-area;
}

#news-section{
    grid-area: news-area;
}

#featured-portfolio{
    grid-area: portfolio-area;
}

#contact-section{
    grid-area: contact-area;
}

footer{
    grid-area: footer;
}